.section {
  padding: 80px 20px;
	background-color: #f3f3f3;
  display: flex;
  justify-content: center;
	position: relative;
}

.inner {
  max-width: 1400px;
  text-align: center;
  width: 100%;
	z-index: 10;

}

.title {
	font-size: 3rem;
	font-weight: 800;
	line-height: 1.1;
	margin: 0 0 2rem 0;
	color: #000;
	letter-spacing: -0.5px;
}


.subtitle {
  font-size: 1.1rem;
	line-height: 1.5;
	color: #4a5568;
	font-weight: 400;
	margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
	background: #ffffff;
	border-radius: 1.5rem;
	padding: 2rem;
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
	position: relative;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	z-index: 10;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.icon {
  width: 40px;
  height: 40px;
  color: #0066cc;
  margin-bottom: 1rem;
}

.card h3 {
  margin-bottom: 0.5rem;
	font-size: 1.8rem;
	font-weight: 800;
	line-height: 1.1;
	color: #000000;
	background: linear-gradient(135deg, #000000 0%, #333333 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	letter-spacing: -0.5px;
}

.card p {
	font-size: 1.1rem;
	line-height: 1.7;
	color: #4a5568;
	font-weight: 400;
}

.contact {
  margin-top: 60px;
}

.contact h3 {
	font-size: 3.5rem;
	font-weight: 800;
	line-height: 1.1;
	background: linear-gradient(135deg, #fff 0%, #ecf0f1 100%);
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
  color: #0066cc;

	background-clip: text;
	margin-bottom: 8px;
	letter-spacing: -0.5px;
  text-shadow: 0 -2px 50px rgba(0, 0, 0, .5), 
	             0 -2px 2px rgba(0, 0, 0, .9);
}

.contact p {
  line-height: 1.7;
	font-weight: 400;
	font-size: 1.4rem;
	color: #e0e0e0;
}

.button {
  border: none;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 1.2rem 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 1.1rem;
  transition: all 0.4s ease;
  cursor: pointer;
  background: linear-gradient(45deg, #004d00, #2E8B57); /* лесная зелень */
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  box-shadow:
  0 0 30px rgba(46, 139, 87, 0.7),
  0 0 60px rgba(46, 139, 87, 0.4);
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
  transition: left 0.5s ease;
}

.button:hover::after {
  left: 100%;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 25px rgba(46, 139, 87, 0.4);

}

/* ==== Responsive ==== */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 2rem;
  }

  .card {
    padding: 25px 15px;
  }

  .icon {
    width: 36px;
    height: 36px;
  }
}
