.header {
  background-color: #f3f3f3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;

}

.nav {
  display: flex;
  gap: 2rem;
  font-weight: 500;
  color: #444;
}

.link {
  text-decoration: none;
	text-transform: uppercase;
  color: inherit;
  transition: color 0.2s ease;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.link:hover {
  color: #0066cc;
}

.burger {
  display: none;
  background: none;
  border: none;
  color: #222;
  cursor: pointer;
}

/* --- МОБИЛЬНАЯ АДАПТАЦИЯ --- */
@media (max-width: 940px) {
.header {
 z-index: 10;
  }
  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #f3f3f3;
    padding: 16px 0;
    
  }
  
  .nav.open {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .burger {
    display: block;
  }

  .logo {
    display: none;
  
  }
}